{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% translate "Tenzorsoft — Sertifikatlar" %}{% endblock %}

{% block content %}

<!-- PAGE HEADER -->
<section class="page-header">
    <div class="container">
        <h1>{% translate "Sertifikatlar" %}</h1>
        <p>{% translate "Bizning yutuqlarimiz va hamkorliklarimiz" %}</p>
    </div>
</section>

<!-- SERTIFIKATLAR -->
<section class="certificates-page">
    <div class="container">
        <div class="certificates-grid">

            <div class="certificate-card reveal">
                <div class="certificate-icon">
                    <i class="fas fa-award"></i>
                </div>
                <h3>{% translate "O'zbekiston IT Park sertifikati" %}</h3>
            </div>

            <div class="certificate-card reveal">
                <div class="certificate-icon">
                    <i class="fas fa-award"></i>
                </div>
                <h3>{% translate "Telekommunikatsiya tarmoqlarini loyihalash, qurish va ulardan foydalanish hamda ulardan foydalanish bo‘yicha xizmatlar ko‘rsatish uchun litsenziya." %}</h3>
            </div>

            <div class="certificate-card reveal">
                <div class="certificate-icon">
                    <i class="fas fa-award"></i>
                </div>
                <h3>{% translate "Xavfsizlik tizimlari va uskunalarini o'rnatish, ishga tushirish, ta'mirlash va texnik xizmat ko'rsatish uchun ruxsatnoma" %}</h3>
            </div>

            <div class="certificate-card reveal">
                <div class="certificate-icon">
                    <i class="fas fa-award"></i>
                </div>
                <h3>{% translate "Vakolatli Kasperskiy hamkori" %}</h3>
            </div>



        </div>
    </div>
</section>

{% endblock %}
